body {
  margin: 0 auto;
  width: 500px;
}
.containor {
  background: #405ba4;
  color: white;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.containor span {
  padding: 30px;
}

.containor .flex-wrapper {
  /* margin-top: 30px; */
  /* align-self: center; */
  background: #e6e8ec;
  border: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.containor .flex-wrapper .icon {
  margin: 0 30px 30px;

  padding: 5px;
  background: white;
  color: black;
}

.num1 {
  /* 
    flex-grow : 1;
    flex-shrink : 2;
    flex-basis : 30px;
    과 같다.
 */
  flex: 1 2 30px;
}

.num2 {
  flex: 1 2 300px;
}

.num3 {
  flex: 1 1 300px;
}
