.list li:nth-child(5) {
  background-color: #ffff00;
}

.list li:nth-child(3n) {
  background-color: antiquewhite;
}

.list li:nth-child(5n-1) {
  background-color: skyblue;
}
.list li:nth-child(odd) {
  color: blueviolet;
}
.list li:nth-child(even) {
  color: lawngreen;
}
